{% extends 'base.html' %}

{% block content %}
    <head>
        <title>Tony Two-Shoes</title>
    </head>
    <body>
        <div class="container mb-5 mt-5" style="background:#2196F3;">
            <div class="row">
                <div class="col-lg-4">
                    <a href="/memes/5df15e006287c7aa8a64bef9">
                        <img src="/static/images/babyyoda.jpg" class="img-fluid rounded">
                    </a>
                    <h3>$1098320812</h3>
                </div>
                <div class="col-lg-4">
                    <a href="/memes/5df15e006287c7aa8a64befa">
                        <img src="/static/images/confusedcat.jpg" class="img-fluid rounded">
                    </a>
                    <h3>$9319081213</h3>
                </div>
                <div class="col-lg-4">
                    <a href="/memes/5df15e006287c7aa8a64befb">
                        <img src="/static/images/dog.jpg" class="img-fluid rounded">
                    </a>
                <h3>$1239010210</h3>
                </div>
            </div>
            <br>
            <div class='row'>
                <div class='mx-auto'>
                    <h2>-90% SALE</h2>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='col-2'>
                <center>
                    <a href="/memes">
                        <h2>
                            MEMES
                        </h2>
                    </a>
                </center>
            </div>    
        </div>
        <center>
            {% for meme in memes %}
                <div class='img'>
                    <a href='/memes/{{meme._id}}'>
                    <img src="{{meme.img}}">
                </div>  
            {% endfor %}
        </center>
    </body>
{% endblock %}