{% extends 'base.html' %}

{% block content %}
<head>
        <title>{{meme.title}}</title>
</head>
<body>
    <div class='row'>
        <div class='col-sm-6 col-sm-offset-3'>
            <h1>{{ meme.title }}</h1>
            <div class="img">
                <img src="{{meme.img}}">
            </div>
            <p><a href='/memes/{{ meme._id }}/edit'>
                <button type="button" class="btn btn-primary">Edit</button>
            </a></p>
            <p><form method='POST' action='/memes/{{meme._id}}/delete'>
                <input type='hidden' name='_method' value='DELETE'>
                <button class='btn btn-primary' type='submit'>Delete</button>
            </form></p>
            <hr>
            {% include 'partials/comment_form.html' %}
            <hr>
            {% for comment in comments %}
                {% include 'partials/comment.html' %}
            {% endfor %}
        </div>
    </div>
</body>
{% endblock %}